 <div class="jumbotron">
  <center>
    <h1><%= @milkshake.shake %></h1>
    <img src="<%= @milkshake.image %>">
  </center>
  <h3>Ingredients: <%= @milkshake.ingredients %></h3>
  <h3>Price: <%= @milkshake.price %></h3>
</div>
