<div class="jumbotron">

	<center>
		<h1>Welcome to My Milkshakes...!</h1>

		<img src="http://blogs-images.forbes.com/hunteratkins/files/2014/08/View-of-barstools-3-1940x1290.jpg">
		<br>

		<%= link_to "Our Milkshakes!", milkshakes_path, class: "btn btn-default" %>
	</center>
</div>