<div class="jumbotron">

	<center>
		<h1>Visit Our other Locations...!</h1>

		<img src="http://www.pilotflyingj.com/assets/templates/pilot/images/pilot_new_locations1.png">
		<br>

		<%= link_to "Locations", locations_path, class: "btn btn-default" %>
	</center>
</div>
