 <div class="jumbotron">
  <center>
    <h1><%= @milkshake.location %></h1>
 
  </center>
  <h3>Address: <%= @location.address %></h2>
  <h3>City: <%= @location.city %></h2>
  <h3>State: <%= @location.state %></h2>
</div>

